#images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;

}
h3 {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-family: 'Abril Fatface', cursive;
    text-decoration: underline darkmagenta;
}
body {
    background: lavender;
    font-size: 18px;
}
#score {
    text-align: center;
    margin-left: 100px;
}
header {
    background: darkmagenta;
    color: white;
}
#pierre {
    border: solid darkmagenta 1px;
    margin: 10px;
}
#feuille {
    border: solid darkmagenta 1px;
    margin: 10px;
}
#ciseaux {
    border: solid darkmagenta 1px;
    margin: 10px;
}
#chordi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}